<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/images/jd.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/layer/layer.js"></script>
</head>
<script type="text/javascript">

    $(function () {
        cookieHui();
    })

    function cookieHui() {
        if(document.cookie!=null & document.cookie!=""){
            var cookie=document.cookie;
            var sp=cookie.split("=");
            var sp1=sp[1];
            var sp2=sp1.split("xjw1807b");
            $("#name1").val(sp2[0]);
            $("#password1").val(sp2[1]);
            if ($("#password1").val(sp2[1]) != null) {
                $("#checkbox1").attr("checked",true);
            }
        }else{
            return ;
        }
    }

    function to_submit() {
		$.ajax({
				url:"/login/toLoginByNameAndPassword",
				type:"POST",
				data:$("#login_form").serialize(),
				success:function(a){
                    if (a == 1) {
                         layer.msg("成功");
                         window.location.href="/toView?viewName=mall-home-page";
                    } else if(a==2){
                        layer.msg("登录失败,账号密码错误");
                    }
				},
				error:function(){
					layer.msg("ajax失败");
				}
		});
    }
</script>
<body>
<div class="up" >
    <img src="/div1.jpg" height="45px;" class="hy_img">
    <div class="hy">
        欢迎登录
    </div>
</div>
<div class="middle" style="background:#ccffff">
    <div>
         <div style="margin-top: 50px;background: #ef4d4d;height: 70px" >

         </div>
    </div>
    <div class="login">
        <div class="l1 ">
            <div class="l1_font_01 ">The first team <font color="red">VIP</font></div>
            <a class="l1_font_02 " href="">用户注册</a>
        </div>
        <div class="blank_01"></div>
        <div class="ts">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="blank_01"></div>
        <form  id="login_form" method="post">
            <div class="input1">
                <input type="text" class="input1_01" id="name1" name="name"  >
            </div>
            <div class="blank_01"></div>
            <div class="blank_01"></div>
            <div class="input2">
                <input type="text" class="input1_01" id="password1" name="password" >
            </div>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_01">
            <input id="checkbox1" type="checkbox" value="1" name="remempwd"  class="box_01_box">
            <div class="box_01_both">
                <div class="box_01_both_1">记住密码</div>
                <div class="box_01_both_2">忘记密码？</div>
            </div>
        </div>
        </form>
        <div class="blank_01"></div>
        <a href="#" class="aline">
            <div style="background: #FF8C69;" class="red_button" onclick="to_submit()">
                登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
            </div>
        </a>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_down">
            <div class="box_down_1">使用合作网站账号登录京东：</div>
            <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
                &nbsp;&nbsp;|&nbsp;&nbsp;微信
            </div>
        </div>
    </div>
</div>

<div class="down">
    <br>
    <font size="5px">最终解释权归第一组所有!!!!!</font>
</div>


</body>
</html>



<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>jQuery实现购物车多物品数量的加减+总价计算</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script>
        $(function(){
            $(".add").click(function(){
                var t = $(this).parent().find('input[class*=text_box]');
                t.val(parseInt(t.val())+1);
                setTotal();
            })

            $(".min").click(function(){
                var t = $(this).parent().find("input[class*=text_box]");
                t.val(parseInt(t.val())-1);
                if(parseInt(t.val())<0){
                    t.val(0);
                }
                setTotal()
            })

            function setTotal(){
                var sum = 0;
                $("#tab td").each(function(){

                    var num = parseInt($(this).find("input[class*=text_box]").val());
                    var price = parseFloat($(this).find("span[class*=price]").text());
                    sum += num*price;
                })
                $("#total").html(sum.toFixed(2));
            }
            setTotal();

        })
    </script>
</head>
<body>
<table id="tab">
    <tr>
        <td>
            <span>单价:</span><span class="price">1.50</span>
            <input class="min" name="" type="button" value="-" />
            <input class="text_box" name="" type="text" value="1" />
            <input class="add" name="" type="button" value="+" />
        </td>
    </tr>
    <tr>
        <td>
            <span>单价:</span><span class="price">3.95</span>
            <input class="min" name="" type="button" value="-" />
            <input class="text_box" name="" type="text" value="1" />
            <input class="add" name="" type="button" value="+" />
        </td>
    </tr>
</table>

<p>总价：<label id="total"></label></p>
</body>
</html>
