<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            getDataOne();
        })
        function getDataTwo(id){
                $.ajax({
                        url:"/home/getAllClassTwoData",
                        type:"POST",
                        data:{id:id},
                        success:function(pageUtil){
                           var as = "";
                           $.each(pageUtil,function(index,obj){
                               as += "<a href='#'><font color='blue'>"+obj.flmch2+"</font></a>   ";
                           });
                           $("#div"+id+"").html(as);
                           $("#div"+id+"").show();
                        },
                        error:function(){
                            alert("失败了");
                        }
                    });
        }
        function getDataOne(){
            var content = "";
            var z = -1;
            $.ajax({      //查询一级分类的数据
                url:"/home/getAllClassOneData",
                type:"POST",
                success:function(pageUtil){
                    $.each(pageUtil,function(index,obj){
                        z++;
                        content += "<li><a href='javascript:getDataTwo("+obj.id+")'>"+obj.flmch1+"</a>";
                        content += "<div id='div"+obj.id+"' style='display:none;'></div></li>";      //创建每一个的子二级分类的“容器”
                    });
                    $('.nav_mini ul').html(content);
                },
                error:function(){
                    alert("失败了");
                }
            });
        }
    </script>
</head>
<body>
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>
<div class="top_img">
    <img src="/images/top_img.jpg" alt="">
</div>
<div class="search">
    <div class="logo"><img src="/images/logo.jpg" alt=""></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
    <div class="card">
        <a href="">购物车<div class="num">0</div></a>
    </div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                全部商品分类
                <div class="nav_mini">
                    <ul>

                    </ul>
                </div>
            </div>
            <ul>
                <li><a href="">服装城</a></li>
                <li><a href="">美妆馆</a></li>
                <li><a href="">超市</a></li>
                <li><a href="">全球购</a></li>
                <li><a href="">闪购</a></li>
                <li><a href="">团购</a></li>
                <li><a href="">拍卖</a></li>
                <li><a href="">金融</a></li>
                <li><a href="">智能</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="banner">
    <div class="ban">
        <img src="/images/banner.jpg" width="980" height="380" alt="">
    </div>
</div>

</body>
</html>