<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/css.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/jiaoben/engine1/style.css">
    <script src="/jiaoben/engine1/jquery.js"></script>
    <script type="text/javascript">

        $(function(){
            getDataOne();
            getUserName();
            getImg();
            /*
            * 导购
            * */
            var content = "";
            $.ajax({
                url:"/home/getQueryDG",
                type:"POST",
                success:function(data){
                    $.each(data,function(index,obj){
                        content += "<li><a href='"+obj.groudUrl+"'><font size='3'>"+obj.groudName+"</font></a>";
                    });
                    $('#asd').html(content)
                },
                error:function(){
                    alert("失败了");
                }
            });
        })
        function getImg(){
                $.ajax({
                        url:"/home/queryImg",
                        type:"POST",
                        success:function(pageUtil){
                            console.log(pageUtil);
                            var p = 0 ;
                            $.each(pageUtil,function (index,obj) {


                                $("#wows1_"+p).prop("src",obj.img);
                                $("#wo_"+p).prop("src",obj.img);
                                p++;
                            })

                        },
                        error:function(){
                            alert("失败了");
                        }
                    });
                }
        //分界线
        function getUserName() {
            var hiddenName = $("#hiddenName").val();
            console.log("作用域中的名字=======" + hiddenName);
            if (hiddenName != "" & hiddenName != null) {
                /*start*/
                var hiddenName = $("#hiddenName").val();
                if (hiddenName != null & hiddenName!="") {
                    console.log(hiddenName);
                    console.log("用户名为"+hiddenName);
                    $("#username1").html("你好  ,"+hiddenName);
                }
                /*end*/
            } else {
                var cookieVal = "";
                if (document.cookie != "" & document.cookie != null) {
                    var cookie=document.cookie
                    var s=cookie.split("=")
                    var sp=s[1]
                    var sp1=sp.split("xjw1807b");
                    var sp2=sp1[0]
                    cookieVal = sp2
                    $("#hidden1").val(cookieVal);
                }
                if (cookieVal == "" & cookieVal != null) {
                    $("#username1").html("<font color='red'>你好   ,请登录</font>");
                } else {
                    $("#username1").html("你好,   " + cookieVal + "    ,请登录");
                }}}
        ///分界线
        function toIndexes(class2,class1){
            location.href="";
                $.ajax({
                        url:"/home/toIndexes",
                        type:"POST",
                        data:{class1:class1,class2:class2},
                        success:function(pageUtil){
                            window.location.href="/toView?viewName="+pageUtil;
                        },
                        error:function(){
                            alert("失败了");
                        }
                    });
        }
        function getDataTwo(id){
            $.ajax({
                url:"/home/getAllClassTwoData",
                type:"POST",
                data:{id:id},
                success:function(pageUtil){
                    var as = "";
                    $.each(pageUtil,function(index,obj){
                        as += "<a href='javascript:toIndexes("+obj.id+","+obj.flbh1+")'>"+obj.flmch2+"</a>   ";
                    });
                    $("#tw_"+id+"").html(as);
                },
                error:function(){
                    alert("失败了");
                }
            });
            $(".linb").hover(
                function () {
                    $(this).find('.two_nav').show(100);
                },
                function () {
                    $(this).find('.two_nav').hide(100);
                }
            );
        }
        function getDataOne(){
            var content = "";
            $.ajax({      //查询一级分类的数据
                url:"/home/getAllClassOneData",
                type:"POST",
                success:function(pageUtil){
                    $.each(pageUtil,function(index,obj){
                        content += "<li class='linb'><a href='javascript:getDataTwo("+obj.id+")'><font size='2'>"+obj.flmch1+"</font></a>";
                        content += "<div id='tw_"+obj.id+"' class='two_nav' style='background-color: #0f0f0f;width:180px;height:66px;'></div></li>";      //创建每一个的子二级分类的“容器”
                        getDataTwo(obj.id);
                    });
                    $('.nav_mini ul').html(content);
                },
                error:function(){
                    alert("失败了");
                }
            });
        }
    </script>
</head>
<body>
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
        <input id="hiddenName" type="hidden" th:value="${session.userf?.name}">
        <input id="hidden1" type="hidden">
        <div id="username1"></div>
    </div>
</div>
<div class="top_img">
    <img src="http://m.360buyimg.com/babel/jfs/t1/27825/39/6000/28861/5c45676bEaaecfc4b/58a017e7412beb55.png" alt="">
</div>
<div class="search">
    <div class="logo"><img src="http://img20.360buyimg.com/da/jfs/t1/23377/26/6007/190377/5c46b6dcE6a2e665e/323a50ca6adbc492.gif?t=1548243688388" width="150" height="120" alt=""></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
    <div class="card">
        <a href="">购物车<div class="num">0</div></a>
    </div>
</div>
<br><br>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                全部商品分类
                <div class="nav_mini">
                    <ul>
                    </ul>
                </div>
            </div>
            <ul>
                <li id="asd"></li>
            </ul>
        </div>
    </div>
</div>


<div class="banner" style="margin-left:-8px;z-index:-100;position: relative;">
    <div class="ban">
        <div id="wowslider-container1">
            <div class="ws_images">
            <ul id="imgsad">
                <li><img src="/jiaoben/data1/images/1.jpg" alt="1" title="1" id="wows1_0"></li>
                <li><img src="/jiaoben/data1/images/2.jpg" alt="2" title="2" id="wows1_1"></li>
                <li><img src="/jiaoben/data1/images/3.jpg" alt="3" title="3" id="wows1_2"></li>
                <li><img src="/jiaoben/data1/images/4.jpg" alt="4" title="4" id="wows1_3"></li>
            </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title=""><span></span></a>
                    <a href="#" title="2"><span></span></a>
                    <a href="#" title="3"><span></span></a>
                    <a href="#" title="4"><span></span></a>
                </div>
            </div>
            <div class="ws_script" style="position:absolute;left:-99%"></div>
            <div class="ws_shadow"></div>
        </div>
    </div>
    <script src="/jiaoben/engine1/wowslider.js"></script>
    <script src="/jiaoben/engine1/script.js"></script>
</div>

</body>
</html>