<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<script type="text/javascript">
    $(function () {
        getUserName();
        banben();
        daoBuy();
        loadComment();
    })
    /* 表头 你好登录样式======================================>  start*/
    function getUserName() {
        var hiddenName = $("#hiddenName").val();
        console.log("作用域中的名字=======" + hiddenName);
        if (hiddenName != "" & hiddenName != null) {
            /*start*/
            var hiddenName = $("#hiddenName").val();
            if (hiddenName != null & hiddenName != "") {
                console.log(hiddenName);
                console.log("用户名为" + hiddenName);
                $("#username1").html("你好  ," + hiddenName);
            }
            /*end*/
        } else {
            var cookieVal = "";
            if (document.cookie != "" & document.cookie != null) {
                var cookie = document.cookie
                var s = cookie.split("=")
                var sp = s[1]
                var sp1 = sp.split("xjw1807b");
                var sp2 = sp1[0]
                cookieVal = sp2
                $("#hidden1").val(cookieVal);
            }
            $("#username1").html("你好,   " + cookieVal + "    ,请登录");
        }
    }

    /* 表头 你好登录 ======================================>   end*/
    var price1=0;
    function  banben() {
        var hiddenName=$("#hiddenName").val();
        var hiddenName1=$("#hiddenName1").val();
        console.log(hiddenName+"    ////////"+hiddenName1);
        var content="";
        content+="<div >选择版本:</div>";
        var skuid=$("#skuid1").val();
        /*ajax   start*/
        $.ajax({
            url: "/js/getAll",
            type: "POST",
            data: {id: skuid},
            success: function (pageUtil) {
                var sp = pageUtil.shp_sx;
                var kucun=pageUtil.kc;
                console.log("库存"+kucun);
                $("#kucun").html("剩余库存:"+kucun);//库存
                $("#titleName").html(pageUtil.shp_mch);//商品名字
                $("#shpmingzi").val(pageUtil.shp_mch);
                price1 = pageUtil.jg;//单价
                $("#jg").html("&nbsp; &nbsp; &nbsp;<font color='red'>" + pageUtil.jg + "</font>");
                $("#sp_tp").prop("src", pageUtil.sh_tp);//商品图片
                /*五张图片 start*/
                $("#tp1").prop("src", pageUtil.sh_tp);//
                $("#tp2").prop("src", pageUtil.sh_tp);//
                $("#tp3").prop("src", pageUtil.sh_tp);//
                $("#tp4").prop("src", pageUtil.sh_tp);//
                $("#tp5").prop("src", pageUtil.sh_tp);//
                /*五张图片 end*/
                var sp1 = sp.split(",");
                $.each(sp1, function (index, obj) {
                    content += "  &nbsp&nbsp<font> " + obj + " </font>   &nbsp&nbsp&nbsp&nbsp ";
                })
                $("#banben").html(content);
            },
            error: function () {
                layer.msg("ajax失败");
            }
        });
        /*ajax    end*/
    }

    function addShopping() {
       var hiddenName=$("#hiddenName").val();
       var hiddenName1=$("#hiddenName1").val();
        var tjshl=$("#number").val();
        var price=price1;
        var skuid=$("#skuid1").val();
        var number=$("#number").val();
        if(number>=tjshl){
            /*if start*/
            if(hiddenName==""  &&  hiddenName1==""){
                /*ajax   start*/
                $.ajax({
                    url:"/shopping/redisAddShoping",
                    type:"POST",
                    data:{tjshl:tjshl,price:price,sku_id:skuid},
                    success:function(a){
                        window.location.href="/toView?viewName=shopping";
                    },
                    error:function(){
                        layer.msg("ajax失败");
                    }
                });
                /*ajax   end*/

            }else{
                var yh_id=$("#hiddenName1").val();
                var tjshl=$("#number").val();
                var price=price1;
                var skuid=$("#skuid1").val();
                /*ajax sku_id*/
                $.ajax({
                    url:"/shopping/addShopping",
                    type:"POST",
                    data:{yh_id:yh_id,tjshl:tjshl,price:price,skuid:skuid},
                    success:function(a){
                        window.location.href="/toView?viewName=shopping";
                    },
                    error:function(){
                        layer.msg("ajax失败");
                    }
                });
                /*ajax end*/
            }
            /*if end*/
        }else {
            layer.msg("购买数量大于库存数量");
            return ;
        }

    }

    function loadComment() {
        $.ajax({
            url: "/comment/getAllProductComment",
            type: "POST",
            data:{sku_id:$("#skuId").val()},
            success: function (pageUtil) {
                var content = "";
                $.each(pageUtil, function (index, obj) {
                    content += "<font size='1'>评论用户：" + obj.yhmz + "   评论时间：" + obj.plshj + "    商品名称：" + obj.shp_mch + "      评论级别：" + obj.hpjb + "</font><br/>";
                    content += "<div class='panel panel-default' style='width:1000px;'><font size='2'>" + obj.plnr + "</font></div>";
                });
                $("#panel1").append(content);
            },
            error: function () {
                alert("失败了");
            }
        });
    }
         /*
          * 导购
          * */
    function daoBuy(){
        var content = "";
        $.ajax({
            url:"/home/getQueryDG",
            type:"POST",
            success:function(data){
                $.each(data,function(index,obj){
                    content += "<li><a href='"+obj.groudUrl+"'><font size='3'>"+obj.groudName+"</font></a></li>";
                });
                $('#asd').html(content)
            },
            error:function(){
                alert("失败了");
            }
        });
    }
    function submitData() {
        var hpjbzhi = $("[name='hpjb']").val();
        if (hpjbzhi >= 11) {
            layer.msg("请填写正确信息！");
        } else {
            $.ajax({
                url: "/comment/addProductComment",
                type: "POST",
                data: $("#form").serialize(),
                success: function () {
                    layer.msg("评论成功！")

                    //$("[name='hpjb']").val("");
                    $('#form').form('clear');
                },
                error: function () {
                    alert("失败了");
                }
            });
        }
    }
    function alertItem(value) {
        if (value >= 11) {
            layer.msg("请填写正确信息！");
        }
    }
</script>
<body>
<input type="hidden" id="skuid1" th:value="${param?.skuid}">
<input id="hiddenName" type="hidden" th:value="${session.userf?.name}">
<input id="hiddenName1" type="hidden" th:value="${session.userf?.id}">
<div class="top">
    <div class="top_text">
        <a href='javascript:void(0)' onclick=removeUser()>注销</a>
        <a href='javascript:void(0)' onclick=toLogin()>用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
        <input id="hidden1" type="hidden">
        <div id="username1"></div>
    </div>
</div>
<!--<div class="top_img">-->
    <!--<img src="/images/top_img.jpg" alt="">-->
<!--</div>-->
<div class="search searchBac">
    <div class="logo"><img src="/images/logo.png" alt=""></div>
    <!--<div class="search_on">-->
        <!--<div class="se">-->
            <!--<input type="text" name="search" class="lf">-->
            <!--<input type="submit" class="clik" value="搜索">-->
        <!--</div>-->
        <!--<div class="se">-->
            <!--<a href="">取暖神奇</a>-->
            <!--<a href="">1元秒杀</a>-->
            <!--<a href="">吹风机</a>-->
            <!--<a href="">玉兰油</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="card">
        <a href="">购物车
        </a>

        <!--购物车商品-->
        <!--<div id="" class="cart_pro">
            <h6>最新加入的商品</h6>
            <div class="one">
                <img src="/images/lec1.png">
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>

            <div class="one border">
                <img src="/images/lec1.png">
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>
            <div class="one border">
                <img src="/images/lec1.png">
                <span class="one_name">
						商品名称商品名称商品名称商品名称
					</span>
                <span class="one_prece">
						<b>￥20000</b><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;删除
					</span>
            </div>
            <div class="gobottom">
                共<span>2</span>件商品&nbsp;&nbsp;&nbsp;&nbsp;
                共计￥<span>20000</span>
                <button class="goprice">去购物车</button>
            </div>-->
        </div>
    </div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
          <div class="left_nav">
              <div class="logo"><img src="http://img20.360buyimg.com/da/jfs/t1/23377/26/6007/190377/5c46b6dcE6a2e665e/323a50ca6adbc492.gif?t=1548243688388" width="150" height="120" alt=""></div>
            </div>
            <ul>
                <li id="asd"></li>
            </ul>
    </div>
</div>
<br/><br/>
    <hr size="5" style="color: red">
<br/><br/>
<div class="Dbox">
    <div class="box">
        <div class="left">
            <div class="timg"><img width="300px" height="240px" id="sp_tp" src="/images/img_5.jpg" alt=""></div>
            <div class="timg2">
                <div class="lf"><img src="/images/lf.jpg" alt=""></div>
                <div class="center">
                    <span><img width="50px" height="50px" id="tp1" src="/images/icon_2.jpg" alt=""></span>
                    <span><img width="50px" height="50px" id="tp2" src="/images/icon_3.jpg" alt=""></span>
                    <span><img width="50px" height="50px" id="tp3" src="/images/icon_2.jpg" alt=""></span>
                    <span><img width="50px" height="50px" id="tp4" src="/images/icon_3.jpg" alt=""></span>
                    <span><img width="50px" height="50px" id="tp5" src="/images/icon_2.jpg" alt=""></span>
                </div>
                <div class="rg"><img src="/images/rg.jpg" alt=""></div>
            </div>
            <div class="goods"><img src="/images/img_6.jpg" alt=""></div>
        </div>
        <div class="cent">
            <div id="titleName" class="title">海信炫彩4K智能电视（黑色）</div>
            <div class="bg">
                <p>市场价：<div id="jg"></div></p>
            </div>
            <!--选择版本  =============================================================>start-->
            <div class="clear" id="banben">

            </div>
            <!--选择版本  =============================================================>end-->
            <!--服务   =============================================================>start-->
            <div class="clear" id="fuwu">

            </div>
            <!-- 服务   =============================================================>end -->
            <div class="clear" style="margin-top:20px;">
                <div id="kucun"></div>
                <div class="min_t" style="line-height:36px">数量：</div>
                <div class="num_box">
                    <div id="rgdiv" class="rg">
                        <input id="number" class="easyui-numberspinner" th:value="1" style="width:80px;" required="required"
                               data-options="min:1,max:100,editable:false">
                    </div>
                </div>
            </div>
            <div class="clear" style="margin-top:20px;">
                <input type="button" class="btn btn-default" id="addShop" onclick="addShopping()" value="加入购物车">
            </div>
        </div>
    </div>
</div>
<div class="Dbox1">
    <div class="boxbottom">
        <div class="top">
            <span>商品详情</span>
            <span>评价</span>
        </div>
        <div class="btm">
            <form id="form">
                <div class="panel panel-default">
                    <div class="panel-footer" id="panel1"></div>
                    <table class="table" style="width:350px">
                        <tr>
                            <td>好评等级:</td>
                            <td><input name="hpjb" class="form-control error" onblur="alertItem(this.value)"
                                       style="width:180px" type="text" placeholder="请写出你的评级（1~10）"></td>
                        </tr>
                        <tr>
                            <td>评论内容:</td>
                            <td><textarea id="plnr" name="plnr" class="form-control" style="width:200px;"
                                          placeholder="在这里写下你的评论"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="button" class="btn btn-default"
                                                                  onclick="submitData()" value="提交"></td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" name="yh_id" th:value="${session.userf?.id}">
                <input id="shpmingzi" type="hidden" name="shp_mch">
                <input id="skuId" type="hidden" name="sku_id" th:value="${param?.skuid}">
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="top"></div>
    <div class="bottom"><img src="/images/foot.jpg" alt=""></div>
</div>
</div>
</body>
</html>